<div class="accordion accordion-flush" id="accordionGenres">
            
    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingRock">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRock">
                🎸 Rock, Metal i Alternatywa
            </button>
        </h2>
        <div id="collapseRock" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=rock" class="btn btn-outline-light btn-sm">Klasyczny Rock</a>
                <a href="/search?cat=rocknroll" class="btn btn-outline-light btn-sm">Rock'n'Roll (Lata 50/60)</a>
                <a href="/search?cat=hardrock" class="btn btn-outline-light btn-sm">Hard Rock</a>
                <a href="/search?cat=progrock" class="btn btn-outline-light btn-sm">Rock Progresywny</a>
                <a href="/search?cat=softrock" class="btn btn-outline-light btn-sm">Soft Rock</a>
                <a href="/search?cat=glamrock" class="btn btn-outline-light btn-sm">Glam Rock</a>
                <a href="/search?cat=metal" class="btn btn-outline-light btn-sm">Heavy Metal</a>
                <a href="/search?cat=trashmetal" class="btn btn-outline-light btn-sm">Thrash Metal</a>
                <a href="/search?cat=symphonic" class="btn btn-outline-light btn-sm">Symphonic Metal</a>
                <a href="/search?cat=numetal" class="btn btn-outline-light btn-sm">Nu Metal</a>
                <a href="/search?cat=punk" class="btn btn-outline-light btn-sm">Punk Rock</a>
                <a href="/search?cat=grunge" class="btn btn-outline-light btn-sm">Grunge</a>
                <a href="/search?cat=indie" class="btn btn-outline-light btn-sm">Indie Rock</a>
                <a href="/search?cat=britpop" class="btn btn-outline-light btn-sm">Britpop</a>
                <a href="/search?cat=alternative" class="btn btn-outline-light btn-sm">Rock Alternatywny</a>
                <a href="/search?cat=rock_ballads" class="btn btn-outline-light btn-sm">Rockowe Ballady</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingPop">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePop">
                💃 Pop, Disco i Przeboje Dekad
            </button>
        </h2>
        <div id="collapsePop" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=pop" class="btn btn-outline-light btn-sm">Współczesny Pop</a>
                <a href="/search?cat=dance" class="btn btn-outline-light btn-sm">Dance / Club</a>
                <a href="/search?cat=disco" class="btn btn-outline-light btn-sm">Disco (Lata 70.)</a>
                <a href="/search?cat=italodisco" class="btn btn-outline-light btn-sm">Italo Disco</a>
                <a href="/search?cat=eurodance" class="btn btn-outline-light btn-sm">Eurodance</a>
                <a href="/search?cat=boyband" class="btn btn-outline-light btn-sm">Boybands & Girlbands</a>
                <a href="/search?cat=kpop" class="btn btn-outline-light btn-sm">K-Pop</a>
                <a href="/search?cat=lata60" class="btn btn-outline-light btn-sm">Hity Lat 60.</a>
                <a href="/search?cat=lata70" class="btn btn-outline-light btn-sm">Hity Lat 70.</a>
                <a href="/search?cat=lata80" class="btn btn-outline-light btn-sm">Hity Lat 80.</a>
                <a href="/search?cat=lata90" class="btn btn-outline-light btn-sm">Hity Lat 90.</a>
                <a href="/search?cat=lata2000" class="btn btn-outline-light btn-sm">Lata 2000-2010</a>
                <a href="/search?cat=lata2010" class="btn btn-outline-light btn-sm">Lata 2010+</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingRap">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRap">
                🎤 Hip-Hop, Rap, R&B i Soul
            </button>
        </h2>
        <div id="collapseRap" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=rap" class="btn btn-outline-light btn-sm">Rap</a>
                <a href="/search?cat=oldschool" class="btn btn-outline-light btn-sm">Old School / 90s</a>
                <a href="/search?cat=gangsta" class="btn btn-outline-light btn-sm">Gangsta Rap</a>
                <a href="/search?cat=trap" class="btn btn-outline-light btn-sm">Trap</a>
                <a href="/search?cat=rnb" class="btn btn-outline-light btn-sm">R&B</a>
                <a href="/search?cat=soul" class="btn btn-outline-light btn-sm">Soul</a>
                <a href="/search?cat=funk" class="btn btn-outline-light btn-sm">Funk</a>
                <a href="/search?cat=gospel" class="btn btn-outline-light btn-sm">Gospel</a>
                <a href="/search?cat=reggaeton" class="btn btn-outline-light btn-sm">Reggaeton</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingPL">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePL">
                🦅 Polska Strefa
            </button>
        </h2>
        <div id="collapsePL" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=polskipop" class="btn btn-outline-light btn-sm">Polski Pop</a>
                <a href="/search?cat=polskirock" class="btn btn-outline-light btn-sm">Polski Rock / Klasyki</a>
                <a href="/search?cat=polskirap" class="btn btn-outline-light btn-sm">Polski Hip-Hop</a>
                <a href="/search?cat=discopolo" class="btn btn-outline-light btn-sm">Disco Polo</a>
                <a href="/search?cat=biesiadna" class="btn btn-outline-light btn-sm">Piosenka Biesiadna</a>
                <a href="/search?cat=bigbeat" class="btn btn-outline-light btn-sm">Big Beat (Czerwone Gitary itp.)</a>
                <a href="/search?cat=poezja" class="btn btn-outline-light btn-sm">Poezja Śpiewana</a>
                <a href="/search?cat=szanty" class="btn btn-outline-light btn-sm">Szanty / Morskie</a>
                <a href="/search?cat=patriotyczne" class="btn btn-outline-light btn-sm">Patriotyczne</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingLatino">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLatino">
                🤠 Latino, Country i Folk
            </button>
        </h2>
        <div id="collapseLatino" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=latinopop" class="btn btn-outline-light btn-sm">Latino Pop</a>
                <a href="/search?cat=salsa" class="btn btn-outline-light btn-sm">Salsa / Bachata</a>
                <a href="/search?cat=samba" class="btn btn-outline-light btn-sm">Samba</a>
                <a href="/search?cat=country" class="btn btn-outline-light btn-sm">Klasyczne Country</a>
                <a href="/search?cat=countrypop" class="btn btn-outline-light btn-sm">Country Pop</a>
                <a href="/search?cat=folk" class="btn btn-outline-light btn-sm">Folk / Etno</a>
                <a href="/search?cat=goralskie" class="btn btn-outline-light btn-sm">Góralskie</a>
                <a href="/search?cat=cyganskie" class="btn btn-outline-light btn-sm">Muzyka Cygańska/Romani</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingElectro">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElectro">
                🎧 Elektronika, House i Techno
            </button>
        </h2>
        <div id="collapseElectro" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=house" class="btn btn-outline-light btn-sm">House</a>
                <a href="/search?cat=techno" class="btn btn-outline-light btn-sm">Techno</a>
                <a href="/search?cat=trance" class="btn btn-outline-light btn-sm">Trance</a>
                <a href="/search?cat=edm" class="btn btn-outline-light btn-sm">EDM / Festival</a>
                <a href="/search?cat=dubstep" class="btn btn-outline-light btn-sm">Dubstep / DnB</a>
                <a href="/search?cat=synthwave" class="btn btn-outline-light btn-sm">Synthwave / Retro</a>
                <a href="/search?cat=lofi" class="btn btn-outline-light btn-sm">Lo-Fi / Chillout</a>
                <a href="/search?cat=ambient" class="btn btn-outline-light btn-sm">Ambient</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingMood">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMood">
                🎉 Okazjonalne, Dla Dzieci i Imprezowe
            </button>
        </h2>
        <div id="collapseMood" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=dladzieci" class="btn btn-outline-light btn-sm">Dla Dzieci (Przedszkolne)</a>
                <a href="/search?cat=disney" class="btn btn-outline-light btn-sm">Bajki Disney / Pixar</a>
                <a href="/search?cat=weselne" class="btn btn-outline-light btn-sm">Hity Weselne</a>
                <a href="/search?cat=urodzinowe" class="btn btn-outline-light btn-sm">Urodzinowe / Sto Lat</a>
                <a href="/search?cat=swiateczne" class="btn btn-outline-light btn-sm">Świąteczne / Kolędy</a>
                <a href="/search?cat=milosne" class="btn btn-outline-light btn-sm">Miłosne / Walentynki</a>
                <a href="/search?cat=imprezowe" class="btn btn-outline-light btn-sm">Hity na Domówkę</a>
            </div>
        </div>
    </div>

    <div class="accordion-item bg-secondary text-light">
        <h2 class="accordion-header" id="headingOther">
            <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther">
                🎷 Jazz, Blues, Filmowe i Inne
            </button>
        </h2>
        <div id="collapseOther" class="accordion-collapse collapse" data-bs-parent="#accordionGenres">
            <div class="accordion-body bg-dark border-top border-secondary d-flex flex-wrap gap-2">
                <a href="/search?cat=jazz" class="btn btn-outline-light btn-sm">Jazz / Swing</a>
                <a href="/search?cat=blues" class="btn btn-outline-light btn-sm">Blues</a>
                <a href="/search?cat=reggae" class="btn btn-outline-light btn-sm">Reggae / Ska</a>
                <a href="/search?cat=klasyczna" class="btn btn-outline-light btn-sm">Muzyka Klasyczna / Opera</a>
                <a href="/search?cat=filmowa" class="btn btn-outline-light btn-sm">Muzyka Filmowa</a>
                <a href="/search?cat=musical" class="btn btn-outline-light btn-sm">Musical / Broadway</a>
                <a href="/search?cat=duety" class="btn btn-outline-light btn-sm">Słynne Duety</a>
                <a href="/search?cat=inne" class="btn btn-outline-light btn-sm">Inne / Niesklasyfikowane</a>
            </div>
        </div>
    </div>

</div>